@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-color: #F0DB4F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    margin-top: 2rem;
}

.navbar {
    width: 50%;
    margin: auto;
}

.navbar a {
    color: #F0DB4F;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #323330;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    transition: linear 0.25s;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    padding: 1rem;
}

a:hover {
    color: white;
}

.main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
}

/* project table */
.project-tab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.project-row td {
    width: 30%;
    text-align: center;
    padding-bottom: 5rem;
}

img {
    width: 50%;
    opacity: 0.5;
    transition: linear 0.25s;
}

img:hover {
    opacity: 1;
}
/* project table */

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}
/* footer */