@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-image: url(../images/background6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    overflow: hidden;
    background-color: #14201c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #F5F8E7;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 4em;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
    animation: 3s ease-out 0s 1 fadeIn;
}

/* hello text fading in animation */
@keyframes fadeIn {
    0% {
        transform: translateX(-130%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
/* hello text fading in animation */

/* responsive text */



/* responsive text */