@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-image: url(../images/background6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    margin-top: 2rem;
}

.navbar {
    width: 50%;
    margin: auto;
}

.navbar a {
    color: #F5F8E7;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    padding: 1rem;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 4em;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
}

/* responsive text */



/* responsive text */