@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-color: #F0DB4F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    margin-top: 2rem;
}

.navbar {
    width: 50%;
    margin: auto;
}

.navbar a {
    color: #F0DB4F;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #323330;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    transition: linear 0.25s;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    padding: 1rem;
}

a:hover {
    color: white;
}

.title {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
}

.description {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
    -ms-transform: translateY(-5rem);
    transform: translateY(-5rem);
}

.home-pic {
    width: 25rem;
    border-radius: 50%;
    transition: linear 0.2s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home-pic:hover {
    border-radius: 10%;
}

.main {
    margin: auto;
    width: 50%;
    margin-top: 10%;
}

.tab-main {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

/* social icons */
.socials {
    display: block;
    text-align: center;
    margin-right: 4rem;
    -ms-transform: translateY(-6.5rem);
    transform: translateY(-6.5rem);
}

.socials ul {
    list-style: none;
}

.socials li {
    display: inline;
    float: center;
    padding-right: 1rem;
    margin-right: 1.5rem;
}

img {
    width: 2rem;
}
/* social icons */