@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-image: url(../images/background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    overflow: hidden;
    background-color: #14201c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #F5F8E7;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.text {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
    animation: 3s ease-out 0s 1 fadeIn;
}

.text-socials {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 7rem;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
    animation: 3s ease-out 0s 1 fadeInReverse;
}

li {
    list-style: none;
}

.contact_list {
    margin: auto;
    text-align: center;
    background-color: #F5F8E7;
    width: 20rem;
    padding-right: 2.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1.5rem;
    opacity: 0.6;
    transition: 0.3s;
}

.contact_list:hover {
    opacity: 1;
}

img {
    width: 3rem;
}

ul {
    display: inline;
    float: center;
}

/* hello text fading in animation */
@keyframes fadeIn {
    0% {
        transform: translateX(-130%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
/* hello text fading in animation */

/* socials text fading in reverse animation */
@keyframes fadeInReverse {
    0% {
        transform: translateX(130%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}
/* socials text fading in animation */



/* contact form */
input[type=text], select, textarea {
    width: 100%;
    border: 0.3rem solid #ccc;
    padding: 1rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    border: 0.3rem solid #ccc;
    padding: 1rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
}

input[type=submit] {
    background-color: #F5F8E7;
    color: black;
    padding: 0.8rem 1.1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: bisque;
}

.container-form {
    margin: auto;
    border-radius: 0.5rem;
    background-color: azure;
    padding: 1.2rem;
    width: 40%;
}
/* contact form */