@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-color: #323330;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    margin-top: 2rem;
}

.navbar {
    width: 50%;
    margin: auto;
}

.navbar a {
    color: #323330;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #F0DB4F;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    transition: linear 0.25s;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    padding: 1rem;
}

a:hover {
    color: white;
}

.main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    font-family: 'Anton', sans-serif;
    color: #F0DB4F;
}

.about {
    text-align: left;
    width: 20rem;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    color: #F0DB4F;
}

.about-me {
    margin-left: auto;
    margin-right: auto;
}

.languages {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #F0DB4F;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.profile-pic {
    width: 15rem;
    border-radius: 3rem;
}

.glass-frame {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    width: 45%;
    text-align: center;
    margin: auto;
}

/* progress bar */
.polish {
    background-color: #F0DB4F;
    border-radius: 13px;
    padding: 0.5rem;
    width: 15rem;
}

.german {
    background-color: #F0DB4F;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 13rem;
}

.english {
    background-color: #F0DB4F;
    border-radius: 13px;
    padding: 0.5rem;
    width: 10rem;
}
/* progress bar */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    color: #F0DB4F;
}