@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    height: 100%;
}

body {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    overflow: hidden;
    background-color: #14201c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #F5F8E7;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 4rem;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
    animation: 3s ease-out 0s 1 fadeIn;
}

.about {
    text-align: left;
    width: 20rem;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    color: #F5F8E7;
}

.about-me {
    margin-left: auto;
    margin-right: auto;
}

.languages {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #F5F8E7;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.profile-pic {
    width: 15rem;
    border-radius: 3rem;
}

/* hello text fading in animation */
@keyframes fadeIn {
    0% {
        transform: translateX(-130%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
/* hello text fading in animation */

/* responsive text */



/* responsive text */

/* progress bar */
.polish {
    background-color: #F5F8E7;
    border-radius: 13px;
    padding: 0.5rem;
    width: 15rem;
}

.german {
    background-color: #F5F8E7;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 13rem;
}

.english {
    background-color: #F5F8E7;
    border-radius: 13px;
    padding: 0.5rem;
    width: 10rem;
}
/* progress bar */