#about-me {
    background-color: var(--bg-c1);
    padding-top: 15px;
    height: 100vh;
    height: 100svh;
}

.text-justify {
    text-align: justify;
}

.header-name {
    font-family: var(--font-header1);
    font-size: 6rem;
}

@media (min-width: 768px) {
    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bi {
    font-size: 2.5rem;
}


@media (min-width: 768px) {
    .bi {
        font-size: 5rem;
    }
}