@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body,
html,
main {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* --------------- start design of the navbar --------------- */
#main-nav {
    background-color: #323330;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: 50px;
}

nav a {
    color: #F0DB4F;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;    
}

#main-nav.sticky {
    position: fixed;
    top: 0;
}

nav a.active {
    color: white;
    background-color: #F0DB4F;
}

nav a:hover {
    text-decoration: underline;
}
/* --------------- end design of the navbar --------------- */

/* --------------- start design of the home content --------------- */
.title-home {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
}

.description-home {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
    -ms-transform: translateY(-5rem);
    transform: translateY(-5rem);
}

.home-pic {
    width: 25rem;
    border-radius: 50%;
    transition: linear 0.2s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home-pic:hover {
    border-radius: 10%;
}

.main-home {
    margin: auto;
    width: 50%;
    padding-top: 10%;
}

.tab-main-home {
    margin-left: auto;
    margin-right: auto;
}
/* --------------- end design of the home content --------------- */

/* --------------- start social icons --------------- */
.socials-home {
    display: block;
    text-align: center;
    margin-right: 4rem;
    -ms-transform: translateY(-6.5rem);
    transform: translateY(-6.5rem);
}

.socials-home ul {
    list-style: none;
}

.socials-home li {
    display: inline;
    float: center;
    padding-right: 1rem;
    margin-right: 1.5rem;
}

img {
    width: 2rem;
}
/* --------------- end social icons --------------- */

/* --------------- start design of the cointaners / parallax effect --------------- */
.container {
    position: inherit;
    width: 100%;
}

#container-about{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.fixed-bg {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.fixed-bg.bg-1 {
    background-color: #F0DB4F;
}

.fixed-bg.bg-2 {
    background-color: #323330;
}
/* --------------- end design of the cointaners / parallax effect --------------- */

/* --------------- start design of the footer --------------- */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}
/* --------------- end design of the footer --------------- */