@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body,
html,
main {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #F0DB4F;
}


/* --------------- start design of the home content --------------- */
.title-home {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
}

.description-home {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
    -ms-transform: translateY(-5rem);
    transform: translateY(-5rem);
}

.home-pic {
    width: 25rem;
    border-radius: 50%;
    transition: linear 0.2s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home-pic:hover {
    border-radius: 10%;
}

.main-home {
    margin: auto;
    width: 50%;
    padding-top: 10%;
}

.tab-main-home {
    margin-left: auto;
    margin-right: auto;
}
/* --------------- end design of the home content --------------- */

/* --------------- start social icons --------------- */
.socials-home {
    display: block;
    text-align: center;
    margin-right: 4rem;
    -ms-transform: translateY(-6.5rem);
    transform: translateY(-6.5rem);
}

.socials-home ul {
    list-style: none;
}

.socials-home li {
    display: inline;
    float: center;
    padding-right: 1rem;
    margin-right: 1.5rem;
}

img {
    width: 2rem;
}


/* --------------- start design of the footer --------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* --------------- end design of the footer --------------- */