@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body,
html,
main {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* --------------- start design of the navbar --------------- */
.header {
    padding-top: 1rem;
}

.navbar {
    width: 50%;
    margin: auto;
}

.navbar a {
    color: #F0DB4F;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #323330;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    transition: linear 0.25s;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    padding: 1rem;
}

a:hover {
    color: white;
}
/* --------------- end design of the navbar --------------- */

/* --------------- start design of the home content --------------- */
.title-home {
    display: block;
    position: inherit;
    text-align: center;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
}

.description-home {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
    margin-right: 4rem;
    -ms-transform: translateY(-5rem);
    transform: translateY(-5rem);
}

.home-pic {
    width: 25rem;
    border-radius: 50%;
    transition: linear 0.2s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home-pic:hover {
    border-radius: 10%;
}

.main-home {
    margin: auto;
    width: 50%;
    margin-top: 10%;
}

.tab-main-home {
    margin-left: auto;
    margin-right: auto;
}
/* --------------- end design of the home content --------------- */

/* --------------- start social icons --------------- */
.socials-home {
    display: block;
    text-align: center;
    margin-right: 4rem;
    -ms-transform: translateY(-6.5rem);
    transform: translateY(-6.5rem);
}

.socials-home ul {
    list-style: none;
}

.socials-home li {
    display: inline;
    float: center;
    padding-right: 1rem;
    margin-right: 1.5rem;
}

img {
    width: 2rem;
}
/* --------------- end social icons --------------- */

/* --------------- start design of the cointaners / parallax effect --------------- */
.container {
    position: absolute;
}

.fixed-bg {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.fixed-bg.bg-1 {
    background-color: #F0DB4F;
}

.fixed-bg.bg-2 {
    background-color: #323330;
}
/* --------------- end design of the cointaners / parallax effect --------------- */

/* --------------- start design of the footer --------------- */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}
/* --------------- end design of the footer --------------- */