@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* --------------- start of the title text --------------- */
.main-projects {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    font-family: 'Anton', sans-serif;
    color: #323330;
}
/* --------------- end of the title text --------------- */

/* --------------- start of the projects table --------------- */
.project-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}


.img-project {
    width: 25rem;
    opacity: 0.5;
    transition: linear 0.25s;
}

.img-project:hover {
    opacity: 1;
}
/* --------------- end of the projects table --------------- */